.navbar {
  font-family: "Hind Guntur", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  width: 100%;
  border-radius: 50%;
  padding: 0;
}

.navbar-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-img img {
  width: 45px;
  height: 45px;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-main a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 15px;
}

.navbar-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-auth a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 15px;
}

.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.562);
  color: black;
  border-radius: 10px;
  padding: 20px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #379aff;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 5px;
  min-width: 120px;
  min-height: 40px;
  overflow: hidden;
}

.cta-button a {
  font-family: "Hind Guntur", sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}

.intervals-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke
}

.intervals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.details-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke
}

.agenda-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke
}

.agenda-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.agenda-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.bullet-completed {
  text-decoration: line-through;
}
