.navbar {
  font-family: "Hind Guntur", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  width: 100%;
  border-radius: 50%;
  padding: 0;
}

.navbar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar-img img {
  width: 45px;
  height: 45px;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-main a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 15px;
}

.navbar-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-auth a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 15px;
}

.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.562);
  color: black;
  border-radius: 10px;
  padding: 20px;
}

.home-container h3 {
  font-family: Balqis, cursive, sans-serif;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #379aff;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 5px;
  min-width: 120px;
  min-height: 40px;
  overflow: hidden;
}

.cta-button a {
  font-family: "Hind Guntur", sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}

.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 15px;
  padding: 20px;
  font-family: "Hind Guntur", sans-serif;
}

.login-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  gap: 15px;
}

.login-container label {
  font-family: "Hind Guntur", sans-serif;
  font-size: 14px;
}

.signup-button {
  color: black;
}

.signup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/signup-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 15px;
  padding: 20px;
  font-family: "Hind Guntur", sans-serif;
}

.signup-container label {
  font-family: "Hind Guntur", sans-serif;
  font-size: 14px;
}

.signup-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}


.intervals-background {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/blue-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke
}

.intervals-container {
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);;
  border-radius: 15px;
  max-height: 80vh;
  min-width: 25vw;
  margin: 20px;
  padding: 20px;
}

.intervals-container h2 {
  font-family: Balqis, cursive, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.intervals-container ul {
  font-family: "Hind Guntur", sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 10px;
  padding: 10px;
}

.intervals-container li {
  color: black;
}

.bullet-completed {
  text-decoration: line-through;
}

.bullet-incomplete {
  text-decoration: none;
}

.agenda-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/leaves-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(228, 233, 237);
}

.agenda-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  font-family: "Hind Guntur", sans-serif;
}

.agenda-container h2 {
  font-family: Balqis, cursive, sans-serif;
  letter-spacing: 1px;
}

.agenda-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  gap: 15px;
}

.agenda-container form input {
  border-radius: 5px;
  border-width: 0;
  padding: 10px;
  font-family: "Hind Guntur", sans-serif;
}

.agenda-container form button {
  border-radius: 5px;
  border-style: solid 1px rgb(245, 245, 245);
  padding: 6px;
  font-size: 14px;
  font-family: "Hind Guntur", sans-serif;
}

.agenda-secondary-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.agenda-secondary-buttons Button {
  border-radius: 10px;
  border-style: solid 1px rgb(245, 245, 245);
  margin: 6px;
  padding: 6px;
  font-family: "Hind Guntur", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.agenda-return-button {
  color: black;
}

.details-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/leaves-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(228, 233, 237);
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  font-family: "Hind Guntur", sans-serif;
}

.details-container h2 {
  font-family: Balqis, cursive, sans-serif;
  letter-spacing: 1px;
}

.details-main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.details-main-buttons Button {
  border-radius: 10px;
  border-style: solid 1px rgb(245, 245, 245);
  margin: 6px;
  padding: 6px;
  font-family: "Hind Guntur", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.main-link-button {
  border-radius: 10px;
  border-style: solid 1px rgb(245, 245, 245);
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  font-family: "Hind Guntur", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.details-return-buttons {
  border-radius: 10px;
  border-width: 0;
  margin: 20px;
  padding: 10px;
  font-family: "Hind Guntur", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.return-link-button {
  background-color: white;
  border-radius: 10px;
  border-width: 0;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  font-family: "Hind Guntur", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: normal;
}
